html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of CSS reset*/

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}

/*header*/

header{
    background-color: black;
    height: 40px;
}

.logo{
    float: left;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 14px;
}

.logo_color{
    color: rgb(35, 209,174);
}

nav > ul{
    float: right;
}

nav > ul > li{
    float: left;
    padding: 0 10px;
    width: 100px;
    list-style-type: none;
    /*border: 1px solid red;*/
    position: relative;
    font-size: 14px;
}

nav > ul > li > ul {
    display: none;
    position: absolute;
    /*background-color: black;*/
    padding: 10px;
    width: 100px;
    left: -10px;
}

nav > ul > li > ul > li {
    /*margin: 10px 0;*/
    background-color: black;
    width: 100px;
    padding: 7px 10px;
    font-size: 14px;
}

nav > ul > li:hover ul{
    display: block;
}

nav a{
    text-decoration: none;
    color: white;

}

nav > ul > li > a{
    text-transform: uppercase;
    line-height: 40px;
}

nav > ul > li > ul::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -.5px;
    left: 50%;
    margin-left: -5px;
}

/*header*/

/*slider*/

.section-1{
    height: 505px;
    background: linear-gradient(to top,  #cbcad2 0%, #fbfbfb 100%);

}

section .arrow{
    float: left;
    width: 5%;
    line-height: 505px;
    font-size: 60px;
    font-weight: 300;
    color: rgb(35, 209,174);
}


section .slider{
    float: left;
    width: 90%;
}

section .slider > ul{
    float: left;
}

section .slider > ul > li{
    float: left;
}

section .slider-text{
    float: left;
    width: 50%;
    padding-top: 120px;
    height: 505px;
}

section .slider > ul > li img{
    float: left;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 50%;
}

section .slider > ul > li h2{
    text-align: center;
    padding-bottom: 25px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

section .slider > ul > li .slider-lorem{
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}

section .slider-button{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 240px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(35, 209,174);
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

section .slider-button:hover{
    background-color: #0ab895;
    cursor: pointer;
}

button:focus {
    outline: 0;
}


/*slider*/

.box{
    float: left;
    margin-right: 10px;

}

.box-text{
    float: left;

}
